<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
        integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </script>
    

    <link rel="stylesheet" href="../../multiselect.css" />
    <script src="../../multiSelect.js"></script>


    <Script>
        let basesearchar = new Array()
        let filterparam = {};
        let basesearchobj = {}
        let base = {}
        let ajaxbase = {
            postauth: { headers: 'sampleset' }
        }


        me.remotefunc = 'basefunction'
        /*server api call here*/
        me.remotefunc = function (base) {
            return new Promise(function (resolve, reject) {
                /*response in this format*/
                resolve({ rows: [{ gender: "m" }, { gender: "f" }] })
            })
        }
    </Script>

    <link rel="stylesheet" href="../../bootstrap.min.css">
</head>

<body>
    <h5 class="text-center">Dynamic Control : Text Box, Dropdown List, Radiobox and Checkbox</h5>

    <h5>Type `m` or `f` </h5>

    <input type="text" style="width:45%;" class="form-control" data-multipleselect-autocomplete-key="gender"
        data-multipleselect-autocomplete="gender" id="cltrl_filter_gender"
        oninput="multiselect.searchbarautocomplete(this)" placeholder="gender">
</body>